:lang(fa){
    direction: rtl;
    text-align: center;
  
}
body{
    margin-top: 20%;

}
label {
  
   padding-bottom: 8px;
    font-size: 16px;
    color: hsla(0, 0%, 0%, 60%);
    display: block;
}


.outline-text{
border: 1px solid hsla(0, 0%, 0%, 12%) ;
color: hsla(0, 0%, 0%,87%);
background-color: #FFFFFF;
font-size: 16px;
border-radius: 4px;
width: 248px;/*width: 280 padding-top,padding-buttom:16+16=32   280-32=248    */
height: 8px;/*height: 40 padding-top,padding-buttom:16+16=32   40-32=8     */
padding: 16px;
text-align: right;

}
.outline-text:focus{
    border: 2px solid #6200EE ;
    
  outline: none;


}
.outline-text:active{
    
    border: 1px solid rgba(0, 0, 0, 0.6);
 
}
.outline-text:hover{
    border:1px solid rgba(0, 0, 0, 0.87);

}
.outline-text:disabled{
    border: 1px solid  rgb(0, 0, 0,.12);
    color: rgb(0, 0, 0,.12);

}




  
  

input[ type="email"],input[ type="password"]{
text-align: center;
padding-left: 16px;
display: inline-block;

}
 

.btn{
    height: 40px;
    padding: 8px 24px;
    border-radius: 4px;
     margin-left:200px;
 vertical-align: baseline;
 background-color:#6200EE;
 color: #FFFFFF;
 border: none;
 cursor: pointer;
 text-align: right;
}


.container {
    width: 100%;
    margin-bottom: 10px;
   margin-left: 50vw;
}
.container .outline-text:focus{

   background-color: white;

}
.label{
  color: #0000;
    padding: 8px;
    transform: translate(190px,32px);

}
.text-label{
        display: block;
      
        text-align: center;
        width: fit-content;
        padding: 8px;
      font-family: sans-serif;
        font-size: 14px;
    transform: translate(190px,32px);
    background-color:white;
 
    color: #6200EE;
}
.text-label::after{
    content: "متن ورودی";
}



    